:root {
	/* --accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%); */


	/*
	This file is in a bit of a state.

	The var names works as follows:
	`--(swatch-name)-(brief-relative-description)?-(shade-nr)`

	The swatch name is the overall version/iteration starting at `a` in which
	the color was introduced. The brief description is the role relative to the
	others colors in the swatch. An optional shade nr may follow the brief description
	for different shades of a color.
	*/
  --a-dark: #191308;
  --a-cold: #003249;
  --a-dark-warm: #372248;
  --a-warm: #ba1f33;
  --a-light: #eaeaea;

  --a-dark-1: #171208;
  --a-cold-1: #002e43;
  --a-dark-warm-1: #321f42;
  --a-warm-1: #aa1d2f;
  --a-light-1: #d5d5d5;

  --b-dark: #11001c;
  --b-dark-warm: #270722;
  --b-cold: #4f6367;
  --b-green: #498467;
  --b-light: #98b6b1;

  --c-dark: #070707;
  --c-dark-cold-2: #0d1f2d;
  --c-dark-cold-1: #084c61;
  --c-dark-cold-grey: #413f54;
  --c-cool: #177e89;
  --c-dark-neutral: #362417;
  --c-dark-warmer: #321325;
  --c-warm: #a50104;
  --c-neutral: #849483;
  --c-warning: #fcba04;
  --c-light-1: #d9dbf1;
  --c-light: #f7f7ff;


	--background: var(--a-light);
	--text: var(--a-dark);
	--text-reverse: var(--a-light);
	--link: var(--c-cool);
}

/* CSS-reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* font: inherit; */
}

html {
  color-scheme: dark light;
  hanging-punctuation: first last;
}

body {
  min-height: 100svh;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--background);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text);
	font-size: 20px;
	line-height: 1.7;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--text);
	line-height: 1.2;
	text-wrap: balance;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
/* code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
} */
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--link);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
/* hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
} */
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
