body {
  background-color: var(--a-light);

}

body a {
  color: var(--a-cold);
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

body a:hover {
  color: var(--a-warm-1);
  transition: color 0.2s ease-in-out;
}
