/*
This file is in a bit of a state.

The var names works as follows:
`--(swatch-name)-(brief-relative-description)?-(shade-nr)`

The swatch name is the overall version/iteration starting at `a` in which
the color was introduced. The brief description is the role relative to the
others colors in the swatch. An optional shade nr may follow the brief description
for different shades of a color.
*/
:root {
  --a-dark: #191308;
  --a-cold: #003249;
  --a-dark-warm: #372248;
  --a-warm: #ba1f33;
  --a-light: #eaeaea;

  --a-dark-1: #171208;
  --a-cold-1: #002e43;
  --a-dark-warm-1: #321f42;
  --a-warm-1: #aa1d2f;
  --a-light-1: #d5d5d5;

  --b-dark: #11001c;
  --b-dark-warm: #270722;
  --b-cold: #4f6367;
  --b-green: #498467;
  --b-light: #98b6b1;

  --c-dark: #070707;
  --c-dark-cold-2: #0d1f2d;
  --c-dark-cold-1: #084c61;
  --c-dark-cold-grey: #413f54;
  --c-cool: #177e89;
  --c-dark-neutral: #362417;
  --c-dark-warmer: #321325;
  --c-warm: #a50104;
  --c-neutral: #849483;
  --c-warning: #fcba04;
  --c-light-1: #d9dbf1;
  --c-light: #f7f7ff;
}
